/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/global/extends/_base.scss */
.banner--title, .banner--logo:before, .button--DOWNLOAD .button--label, .button--label {
  color: #FFFFFF;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
}

/* line 10, ../sass/partials/global/extends/_base.scss */
.promo-text--header, .subheader--MAIN, .downloads--header {
  color: #442259;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 17, ../sass/partials/global/extends/_base.scss */
.navigation--links, .promo-text--text, .release-info--header, .release-info--information, .release-info--info-list, .packages--header, .packages--package-table-column, .packages--version-table-column, .packages--date-table-column, .footer--content-header, .footer--content-list-link, .downloads--subheader, .downloads--text, .downloads--instructions li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #323232;
  font-size: 1em;
  line-height: 125%;
  font-weight: normal;
}
/* line 23, ../sass/partials/global/extends/_base.scss */
.navigation--links a, .promo-text--text a, .release-info--header a, .release-info--information a, .release-info--info-list a, .packages--header a, .packages--package-table-column a, .packages--version-table-column a, .packages--date-table-column a, .footer--content-header a, .footer--content-list-link a, .downloads--subheader a, .downloads--text a, .downloads--instructions li a {
  font-size: 100%;
  float: inherit;
  display: inherit;
  font-family: inherit;
  color: #442259;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}
/* line 33, ../sass/partials/global/extends/_base.scss */
.navigation--links a:hover, .promo-text--text a:hover, .release-info--header a:hover, .release-info--information a:hover, .release-info--info-list a:hover, .packages--header a:hover, .packages--package-table-column a:hover, .packages--version-table-column a:hover, .packages--date-table-column a:hover, .footer--content-header a:hover, .footer--content-list-link a:hover, .downloads--subheader a:hover, .downloads--text a:hover, .downloads--instructions li a:hover {
  color: #8a45b5;
}

@font-face {
  font-family: 'Haskell_icon';
  src: url("fonts/Haskell/fonts/Haskell.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Haskell/fonts/Haskell.woff") format("woff"), url("fonts/Haskell/fonts/Haskell.ttf") format("truetype"), url("fonts/Haskell/fonts/Haskell.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 1, ../sass/partials/components/navigation/_extends.scss */
.navigation--MAIN {
  width: 93%;
  background-color: #281434;
  padding: 0 0 0 7%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
}

/* line 11, ../sass/partials/components/navigation/_extends.scss */
.navigation--links-list {
  width: 92%;
}

/* line 15, ../sass/partials/components/navigation/_extends.scss */
.navigation--links {
  color: #FFFFFF;
  display: inline-block;
  text-align: left;
  padding: 1em 10% 1em 0;
}
/* line 21, ../sass/partials/components/navigation/_extends.scss */
.navigation--links:last-child {
  text-align: center;
}
/* line 24, ../sass/partials/components/navigation/_extends.scss */
.navigation--links a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
}
/* line 29, ../sass/partials/components/navigation/_extends.scss */
.navigation--links a:hover {
  color: #FFFFFF;
}

/* line 1, ../sass/partials/components/banner/_extends.scss */
.banner--MAIN {
  width: 100%;
  overflow: hidden;
  height: 7em;
  position: relative;
  padding-top: 3em;
}

/* line 9, ../sass/partials/components/banner/_extends.scss */
.banner--background-image {
  width: 100%;
}

/* line 13, ../sass/partials/components/banner/_extends.scss */
.banner--header {
  left: 7%;
  position: absolute;
  margin-top: 1.75em;
}

/* line 19, ../sass/partials/components/banner/_extends.scss */
.banner--title {
  font-weight: bold;
  top: 1.1em;
  display: inline-block;
  vertical-align: top;
  padding: 0.25em 0 0 0.5em;
  letter-spacing: 0.75px;
}

/* line 30, ../sass/partials/components/banner/_extends.scss */
.banner--logo:before {
  font-family: Haskell_icon;
  content: "\e600";
  font-size: 3.25em;
  display: inline-block;
}

/* line 1, ../sass/partials/components/button/_extends.scss */
.button--DOWNLOAD, .button--MAIN {
  width: 35%;
  margin: 0 auto;
  background-color: #361b46;
  border-radius: 1.75em;
  padding: 1.5em 0;
  border: none;
  display: block;
  margin-bottom: 6em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  transition: background-color 0.5s ease;
}
/* line 12, ../sass/partials/components/button/_extends.scss */
.button--DOWNLOAD:hover, .button--MAIN:hover {
  background-color: #442259;
}

/* line 18, ../sass/partials/components/button/_extends.scss */
.button--DOWNLOAD {
  padding: 0.85em 0;
}

/* line 23, ../sass/partials/components/button/_extends.scss */
.button--DOWNLOAD .button--label, .button--label {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 30, ../sass/partials/components/button/_extends.scss */
.button--DOWNLOAD .button--label {
  font-size: 1em;
}

/* line 1, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN {
  width: 31.25%;
  display: inline-block;
  float: left;
  padding: 0 1.5%;
  margin-bottom: 4em;
}
/* line 7, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN:first-child {
  padding: 0 1.5% 0 0;
}
/* line 10, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN:last-child {
  padding: 0 0 0 1.5%;
}

/* line 15, ../sass/partials/components/promo-text/_extends.scss */
._promo-text--container {
  margin: 0 auto;
  width: 86%;
  overflow: visible;
  display: block;
  margin-top: 3.5em;
}

/* line 24, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--header {
  margin-bottom: 0.55em;
}

/* line 1, ../sass/partials/components/subheader/_extends.scss */
.subheader--MAIN {
  width: 100%;
  text-align: center;
}

/* line 1, ../sass/partials/components/release-info/_extends.scss */
.release-info--MAIN {
  width: 43%;
  float: left;
  display: inline-block;
  margin: 2.5em 0 0 7%;
}

/* line 8, ../sass/partials/components/release-info/_extends.scss */
.release-info--header {
  font-weight: bold;
  float: left;
  display: inline-block;
  margin-bottom: 1em;
  clear: left;
}

/* line 17, ../sass/partials/components/release-info/_extends.scss */
.release-info--information {
  float: left;
  display: inline-block;
  margin: 0 0 1em 0.75em;
}

/* line 24, ../sass/partials/components/release-info/_extends.scss */
.release-info--info-list {
  float: left;
  margin: 0 0 1em 0.75em;
  display: inline-block;
}

/* line 1, ../sass/partials/components/packages/_extends.scss */
.packages--MAIN {
  width: 43%;
  display: inline-block;
  float: right;
  margin: 2.5em 7% 0 0;
}

/* line 8, ../sass/partials/components/packages/_extends.scss */
.packages--header {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* line 15, ../sass/partials/components/packages/_extends.scss */
.packages--table {
  width: 100%;
  margin-top: 1.5em;
}

/* line 20, ../sass/partials/components/packages/_extends.scss */
.packages--table-row {
  padding: 1em;
  background-color: rgba(54, 27, 70, 0.2);
}
/* line 23, ../sass/partials/components/packages/_extends.scss */
.packages--table-row:nth-of-type(2n) {
  background-color: #FFFFFF;
}

/* line 29, ../sass/partials/components/packages/_extends.scss */
.packages--header-table-row {
  background-color: #361b46;
  padding: 1em;
}

/* line 35, ../sass/partials/components/packages/_extends.scss */
.packages--package-table-column {
  font-weight: bold;
  margin: 0.5em 0 0.5em 1em;
  display: inline-block;
}

/* line 43, ../sass/partials/components/packages/_extends.scss */
.packages--version-table-column {
  width: 25%;
}

/* line 49, ../sass/partials/components/packages/_extends.scss */
.packages--date-table-column {
  width: 25%;
}

/* line 17, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--package-table-column {
  color: #FFFFFF;
}
/* line 20, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--version-table-column {
  color: #FFFFFF;
}
/* line 23, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--date-table-column {
  color: #FFFFFF;
}

/* line 1, ../sass/partials/components/footer/_extends.scss */
.footer--MAIN {
  display: inline-block;
  width: 86%;
  margin-top: 6em;
  position: relative;
  background-color: #281434;
  padding: 0 7%;
}

/* line 10, ../sass/partials/components/footer/_extends.scss */
.footer--content {
  width: 23%;
  float: left;
  margin: 1.75em 0 4em 0;
  padding: 0 1%;
}

/* line 17, ../sass/partials/components/footer/_extends.scss */
.footer--content-header {
  font-size: 1.25em;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 25, ../sass/partials/components/footer/_extends.scss */
.footer--content-list-link {
  color: #FFFFFF;
  line-height: 110%;
  margin-bottom: 0.4em;
}
/* line 30, ../sass/partials/components/footer/_extends.scss */
.footer--content-list-link a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
}
/* line 35, ../sass/partials/components/footer/_extends.scss */
.footer--content-list-link a:hover {
  color: #FFFFFF;
  font-style: italic;
}

/* line 1, ../sass/partials/components/downloads/_extends.scss */
.downloads--header {
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75em;
}
/* line 7, ../sass/partials/components/downloads/_extends.scss */
.downloads--header:before {
  color: black;
  font-family: 'Haskell_icon';
  content: "\e602";
  font-size: 3.25em;
  display: inline-block;
}

/* line 16, ../sass/partials/components/downloads/_extends.scss */
.downloads--MAC, .downloads--WINDOWS, .downloads--LINUX {
  width: 50%;
  padding: 0 25%;
}

/* line 22, ../sass/partials/components/downloads/_extends.scss */
.downloads--MAC .button--DOWNLOAD {
  width: 49.2%;
  margin-bottom: 1em;
  display: inline-block;
}
/* line 26, ../sass/partials/components/downloads/_extends.scss */
.downloads--MAC .button--DOWNLOAD:first-of-type {
  margin-right: 1%;
}

/* line 31, ../sass/partials/components/downloads/_extends.scss */
.downloads--WINDOWS .button--DOWNLOAD, .downloads--LINUX .button--DOWNLOAD {
  width: 80%;
  margin-bottom: 1em;
}

/* line 36, ../sass/partials/components/downloads/_extends.scss */
.downloads--subheader {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 auto;
  line-height: 140%;
  font-weight: bold;
}

/* line 46, ../sass/partials/components/downloads/_extends.scss */
.downloads--text {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 auto 1em;
}
/* line 52, ../sass/partials/components/downloads/_extends.scss */
.downloads--text:first-of-type {
  margin: 0 auto 0.5em;
}

/* line 57, ../sass/partials/components/downloads/_extends.scss */
.downloads--instructions {
  margin: 0.4em 0 2em 0;
  display: inline-block;
  color: red;
}

/* line 21, ../sass/partials/components/_downloads.scss */
.downloads--WINDOWS .downloads--header, .downloads--LINUX .downloads--header {
  clear: both;
}
