
@font-face {
  font-family: 'Haskell_icon';
  src: url('fonts/Haskell/fonts/Haskell.eot'); /* IE9 Compat Modes */
  src:
  url('fonts/Haskell/fonts/Haskell.woff') format('woff'), /* Modern Browsers */
  url('fonts/Haskell/fonts/Haskell.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/Haskell/fonts/Haskell.svg#svgFontName') format('svg'); /* Legacy iOS */
}