%release-info--MAIN{
  width: 86%;
  display:block;
  margin: 2em auto 0;
  @include breakpoint($breakpoint--second-layout){
    width: 43%;
    float: left;
    display:inline-block;
    margin: 2.5em 0 0 7%;
  }
}

%release-info--header{
  @extend %p;
  font-weight: bold;
  float: left;
  display:inline-block;
  margin-bottom: 1em;
  clear: left;
}

%release-info--information{
  @extend %p;
  float:left;
  display:inline-block;
  margin: 0 0 1em 0.75em;
}

%release-info--info-list{
  @extend %p;
  float:left;
  margin: 0 0 1em 0.75em;
  display:inline-block;

}