

%h1 {
  color: $white;
  font-family: $font-sans;
  font-size: 2.25rem;
}


%h2{
  color: $light-purple;
  font-family: $font-sans;
  font-size: 1.5rem;
  font-weight: bold;
}

%p{
  font-family: $font-sans;
  color: $dark-grey;
  font-size: 1rem;
  line-height: 125%;
  font-weight: normal;
  & a{
    font-size: 100%;
    float: inherit;
    display: inherit;
    font-family: inherit;
    color: $light-purple;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
    &:hover{
      color: #8a45b5;
    }
  }
}