%button--MAIN{
  width: 40%;
  margin: 0 auto;
  background-color: $dark-purple;
  border-radius: 0.8em;
  padding: 2em 0;
  border: none;
  display: block;
  margin-bottom: 7em;
}

%button--label{
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3.25em;
  font-weight: bold;
  text-transform: uppercase;
}