%button--MAIN{
  width: 86%;
  margin: 0 7%;
  background-color: $medium-purple;
  border-radius: 1.75rem;
  padding: 2rem 0;
  text-align: center;
  border: none;
  display: inline-block;
  margin-bottom: 3.75rem;
  box-shadow: 0 1px 2px 0 rgba($black, 0.22);
  transition: background-color 0.5s ease;
  &:hover{
     background-color: $light-purple;
  }
  @include breakpoint($breakpoint--second-layout){
    width: 60%;
    margin: 0 20% 6rem 20%;
  }
  @include breakpoint($breakpoint--third-layout){
    width: 35%;
    margin: 0 32.5% 6rem 32.5%;
  }
}


%button--DOWNLOAD{
  @extend %button--MAIN;
  padding: 1.25rem 0;
  margin: 0;
  text-decoration: none;
}

%button--label{
  @extend %h1;
  font-size: 2.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

%button--label-DOWNLOAD{
  @extend %button--label;
  font-size: 1.2rem;
}