

%button--MAIN{
  width: 25%;
  margin: 0 auto;
  background-color: $dark-purple;
  border-radius: 0.75em;
  padding: 1em 0;
  border: none;
  display: block;
}

%button--label{
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.5em;


}