%button--MAIN{
  width: 35%;
  margin: 0 auto;
  background-color: $medium-purple;
  border-radius: 1.75em;
  padding: 1.5em 0;
  border: none;
  display: block;
  margin-bottom: 6em;
  box-shadow: 0 1px 2px 0 rgba($black, 0.22);
  transition: background-color 0.5s ease;
  &:hover{
     background-color: $light-purple;
  }
}


%button--DOWNLOAD{
  @extend %button--MAIN;
  padding: 0.85em 0;
}

%button--label{
  @extend %h1;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

%button--label-DOWNLOAD{
  @extend %button--label;
  font-size: 1em;
}