%banner--MAIN{
  width: 100%;
  overflow: hidden;
  height: 11em;
  position: relative;
}

%banner--background-image{
  width: 100%;
}

%banner--header{
  color: white;
  font-size: 3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1.1em;
  left: 11.5%;
}