%banner--MAIN{
  width: 100%;
  overflow: hidden;
  height: 7em;
  position: relative;
  padding-top: 3em;
}

%banner--background-image{
  width: 100%;
}

%banner--header{
   left: 7%;
  position:absolute;
  margin-top: 1.75em;
}

%banner--title{
  @extend %h1;
  font-weight:bold;
  top: 1.1em;
  display: inline-block;
  vertical-align: top;
  padding: 0.25em 0 0 0.5em;
  letter-spacing: 0.75px;
  font-size: 1.5em;
  @include breakpoint($breakpoint--first-layout){
    font-size: 2em;
  }
  @include breakpoint($breakpoint--second-layout){
    font-size: 2.25em;
  }
}

%banner--logo{
  &:before{
    @extend %h1;
    font-family: Haskell_icon;
    content: "\e600";
    font-size: 2.25em;
    display: inline-block;
    @include breakpoint($breakpoint--first-layout){
      font-size: 2.75em;
    }
    @include breakpoint($breakpoint--second-layout){
      font-size: 3.25em;
    }
  }

}