%banner--MAIN{
  width: 100%;
  overflow: hidden;
  height: 9rem;
  position: relative;
  padding-top: 5rem;
  @include breakpoint($breakpoint--second-layout){
    height: 10rem;
  }
}

%banner--background-image{
  width: 100%;
  min-width: 1000px;
}

%banner--header{
   left: 7%;
  position:absolute;
  margin-top: 2rem;
}

%banner--title{
  @extend %h1;
  font-weight:bold;
  top: 1.1rem;
  display: inline-block;
  vertical-align: top;
  padding: 0.25em 0 0 0.5rem;
  letter-spacing: 0.75px;
  font-size: 1.5rem;
  @include breakpoint($breakpoint--first-layout){
    font-size: 3rem;
  }
  @include breakpoint($breakpoint--second-layout){
    font-size: 3.5rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

%banner--logo{
  &:before{
    @extend %h1;
    font-family: Haskell_icon;
    content: "\e600";
    font-size: 2.25rem;
    display: inline-block;
    @include breakpoint($breakpoint--first-layout){
      font-size: 3.58rem;
    }
    @include breakpoint($breakpoint--second-layout){
      font-size: 4.24rem;
    }
  }

}