%navigation--MAIN{
  width: 93%;
  background-color: $dark-purple;
  padding: 0 0 0 7%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
}


%navigation--links-list{
  width: 92%;
}

%navigation--links{
  @extend %p;
  color: $white;
  display: inline-block;
  text-align: left;
  padding: 1em 7% 1em 0;
  &:last-child{
    text-align: center;
  }
  & a{
    text-decoration: none;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    &:hover{
      color: $white;
    }
  }
  @include breakpoint($breakpoint--second-layout){
    padding: 1em 10% 1em 0;
  }
}

