%navigation--MAIN{
  width: 100%;
  background-color: $dark-purple;
  padding: 0 0 0 11.5%;
}


%navigation--links-list{
  width: 92%;
}

%navigation--links{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  width: 24.5%;
  padding: 1em 0;
  text-align: left;
}

