%navigation--MAIN{
  width: 93%;
  background-color: $dark-purple;
  padding: 0 0 0 7%;
}


%navigation--links-list{
  width: 92%;
}

%navigation--links{
  @extend %h1;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  width: 24.5%;
  padding: 1em 0;
  text-align: left;
  &:last-child{
    text-align: center;
  }
}

