%navigation--MAIN{
  width: 93%;
  background-color: $dark-purple;
  padding: 0 0 0 7%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  height: 3.25em;
}


%navigation--links-list{
  width: 92%;
}

%navigation--links{
  @extend %p;
  color: $white;
  text-align: left;
  display: none;
  &:last-child{
    text-align: center;
  }
  & a{
    text-decoration: none;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    &:hover{
      color: $white;
    }
  }
  @include breakpoint($breakpoint--second-layout){
    padding: 1em 10% 1em 0;
    display: inline-block;
  }
}


%navigation--MOBILE{
  background-color: $dark-purple;
  z-index: 5;
  width: 13em;
  height: 100%;
  position:absolute;
  padding: 2em 0;
  display: block;
  @include breakpoint($breakpoint--second-layout){
    display: none;
  }
}

%navigation--links-list-MOBILE{
  width: 100%;
  height: 100%;
}


%navigation--links-MOBILE{
  @extend %p;
  color: $white;
  text-align: left;
  padding: 1em 0 1em 0.75em;
  border-bottom: 1px solid $light-purple;
  margin: 0 0.75em;
  & a{
    text-decoration: none;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    &:hover{
      color: $white;
    }
}
}

