%promo-text--MAIN{
  width: 100%;
  display: inline-block;
  float: left;
  margin-bottom: 2rem;
  &:last-child{
    margin-bottom: 3.5rem;
  }

  @include breakpoint($breakpoint--second-layout){
    width: 31.25%;
    margin-bottom: 4rem;
    &:first-child{
      padding: 0 1.5% 0 0;
    }
    &:last-child{
      padding: 0 0 0 1.5%;
      margin-bottom: 4rem;
    }
    padding: 0 1.5%;
  }
}

%_promo-text--container{
  margin: 0 auto;
  width: 86%;
  overflow: visible;
  display: block;
  margin-top: 2rem;
  @include breakpoint($breakpoint--second-layout){
    margin-top: 3.5rem;
  }
}


%promo-text--header{
  @extend %h2;
  margin-bottom: 0.75rem;
  text-align: center;
  @include breakpoint($breakpoint--second-layout){
    text-align: left;
  }
}

%promo-text--text{
  @extend %p;
}