%promo-text--MAIN{
  width: 31.25%;
  display: inline-block;
  float: left;
  padding: 0 1.5%;
  margin-bottom: 5em;
  &:first-child{
    padding: 0 1.5% 0 0;
  }
  &:last-child{
    padding: 0 0 0 1.5%;
  }
}

%_promo-text--container{
  margin: 0 auto;
  width: 86%;
  overflow: visible;
  display: block;
  margin-top: 3.5em;
}


%promo-text--header{
  @extend %h3;
  font-size: 2em;
  margin-bottom: 0.55em;
}

%promo-text--text{
  @extend %p;
}