/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/global/extends/_base.scss */
.navigation--links, .banner--header, .button--label {
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 3em;
}

/* line 10, ../sass/partials/global/extends/_base.scss */
.promo-text--header, .subheader--MAIN {
  color: #23172b;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.85em;
  font-weight: bold;
}

/* line 17, ../sass/partials/global/extends/_base.scss */
.promo-text--text, .release-info--header, .release-info--header a, .release-info--information, .release-info--info-list, .release-info--info-list a, .packages--header, .packages--package-table-column, .packages--version-table-column, .packages--date-table-column, .footer--content-header, .footer--content-list-link {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #323232;
  font-size: 1.25em;
  line-height: 125%;
  font-weight: normal;
}

/* line 1, ../sass/partials/components/navigation/_extends.scss */
.navigation--MAIN {
  width: 93%;
  background-color: #23172b;
  padding: 0 0 0 7%;
}

/* line 8, ../sass/partials/components/navigation/_extends.scss */
.navigation--links-list {
  width: 92%;
}

/* line 12, ../sass/partials/components/navigation/_extends.scss */
.navigation--links {
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  width: 24.5%;
  padding: 1em 0;
  text-align: left;
}
/* line 20, ../sass/partials/components/navigation/_extends.scss */
.navigation--links:last-child {
  text-align: center;
}

/* line 1, ../sass/partials/components/banner/_extends.scss */
.banner--MAIN {
  width: 100%;
  overflow: hidden;
  height: 11em;
  position: relative;
}

/* line 8, ../sass/partials/components/banner/_extends.scss */
.banner--background-image {
  width: 100%;
}

/* line 12, ../sass/partials/components/banner/_extends.scss */
.banner--header {
  font-weight: bold;
  position: absolute;
  top: 1.1em;
  left: 11.5%;
}

/* line 1, ../sass/partials/components/button/_extends.scss */
.button--MAIN {
  width: 40%;
  margin: 0 auto;
  background-color: #23172b;
  border-radius: 0.8em;
  padding: 2em 0;
  border: none;
  display: block;
  margin-bottom: 7em;
}

/* line 12, ../sass/partials/components/button/_extends.scss */
.button--label {
  font-size: 3.25em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN {
  width: 31.25%;
  display: inline-block;
  float: left;
  padding: 0 1.5%;
  margin-bottom: 7em;
}
/* line 7, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN:first-child {
  padding: 0 1.5% 0 0;
}
/* line 10, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--MAIN:last-child {
  padding: 0 0 0 1.5%;
}

/* line 15, ../sass/partials/components/promo-text/_extends.scss */
._promo-text--container {
  margin: 0 auto;
  width: 86%;
  overflow: visible;
  display: block;
  margin-top: 3.5em;
}

/* line 24, ../sass/partials/components/promo-text/_extends.scss */
.promo-text--header {
  font-size: 2.25em;
  margin-bottom: 0.55em;
}

/* line 1, ../sass/partials/components/subheader/_extends.scss */
.subheader--MAIN {
  width: 100%;
  text-align: center;
}

/* line 1, ../sass/partials/components/release-info/_extends.scss */
.release-info--MAIN {
  width: 43%;
  float: left;
  display: inline-block;
  margin: 2.5em 0 0 7%;
}

/* line 8, ../sass/partials/components/release-info/_extends.scss */
.release-info--header {
  font-weight: bold;
  float: left;
  display: inline-block;
  margin-bottom: 1em;
  clear: left;
}
/* line 15, ../sass/partials/components/release-info/_extends.scss */
.release-info--header a {
  font-weight: inherit;
  float: inherit;
  display: inherit;
  font-size: 100%;
  text-decoration: none;
}
/* line 22, ../sass/partials/components/release-info/_extends.scss */
.release-info--header a:hover {
  font-style: italic;
}

/* line 28, ../sass/partials/components/release-info/_extends.scss */
.release-info--information {
  float: left;
  display: inline-block;
  margin: 0 0 1em 0.75em;
}

/* line 35, ../sass/partials/components/release-info/_extends.scss */
.release-info--info-list {
  float: left;
  margin: 0 0 1em 0.75em;
  display: inline-block;
}
/* line 40, ../sass/partials/components/release-info/_extends.scss */
.release-info--info-list a {
  font-size: 100%;
  float: inherit;
  display: inherit;
  text-decoration: none;
}
/* line 46, ../sass/partials/components/release-info/_extends.scss */
.release-info--info-list a:hover {
  font-style: italic;
}

/* line 1, ../sass/partials/components/packages/_extends.scss */
.packages--MAIN {
  width: 43%;
  display: inline-block;
  float: right;
  margin: 2.5em 7% 0 0;
}

/* line 8, ../sass/partials/components/packages/_extends.scss */
.packages--header {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* line 15, ../sass/partials/components/packages/_extends.scss */
.packages--table {
  width: 100%;
  margin-top: 1.5em;
}

/* line 20, ../sass/partials/components/packages/_extends.scss */
.packages--table-row {
  padding: 1em;
  background-color: rgba(35, 23, 43, 0.2);
}
/* line 23, ../sass/partials/components/packages/_extends.scss */
.packages--table-row:nth-of-type(2n) {
  background-color: white;
}

/* line 29, ../sass/partials/components/packages/_extends.scss */
.packages--header-table-row {
  background-color: #23172b;
  padding: 1em;
}

/* line 35, ../sass/partials/components/packages/_extends.scss */
.packages--package-table-column {
  font-weight: bold;
  margin: 0.5em 0 0.5em 1em;
  display: inline-block;
  width: 60%;
}

/* line 44, ../sass/partials/components/packages/_extends.scss */
.packages--version-table-column {
  width: 25%;
}

/* line 50, ../sass/partials/components/packages/_extends.scss */
.packages--date-table-column {
  width: 25%;
}

/* line 17, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--package-table-column {
  color: white;
}
/* line 20, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--version-table-column {
  color: white;
}
/* line 23, ../sass/partials/components/_packages.scss */
.packages--header-table-row .packages--date-table-column {
  color: white;
}

/* line 1, ../sass/partials/components/footer/_extends.scss */
.footer--MAIN {
  display: inline-block;
  width: 86%;
  margin-top: 10em;
  position: relative;
  background-color: #23172b;
  padding: 0 7%;
}

/* line 10, ../sass/partials/components/footer/_extends.scss */
.footer--content {
  width: 23%;
  float: left;
  margin: 2.5em 0 5em 0;
  padding: 0 1%;
}

/* line 17, ../sass/partials/components/footer/_extends.scss */
.footer--content-header {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 25, ../sass/partials/components/footer/_extends.scss */
.footer--content-list-link {
  color: white;
  line-height: 110%;
  margin-bottom: 0.4em;
}
/* line 30, ../sass/partials/components/footer/_extends.scss */
.footer--content-list-link a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
