%packages--MAIN{
  width: 43%;
  display: inline-block;
  float: right;
  margin: 2.5em 7% 0 0;
}

%packages--header{
  @extend %p;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

%packages--table{
  width: 100%;
  margin-top: 1.5em;
}

%packages--table-row{
  padding: 1em;
  background-color: rgba($medium-purple, 0.2);
  &:nth-of-type(2n){
    background-color: $white;
  }

}

%packages--header-table-row{
  background-color: $medium-purple;
  padding: 1em;

}

%packages--package-table-column{
  @extend %p;
  font-weight: bold;
  margin: 0.5em 0 0.5em 1em;
  display:inline-block;

}

%packages--version-table-column{
  @extend %p;
  width: 25%;

}

%packages--date-table-column{
  @extend %p;
  width: 25%;

}