@import "downloads/extends";
@import "downloads/variables";
@import "downloads/mixins";



.downloads--header{
  @extend %downloads--header;
}


.downloads--MAC{
  @extend %downloads--section;
  margin-top: 2.5rem;
  .button--DOWNLOAD{
    @extend %buttons--MAC;
  }
  .downloads--header{
    &:before{
      content: "\e603";
    }
  }
}

.downloads--WINDOWS, .downloads--LINUX{
  @extend %downloads--section;
  .downloads--header{
    clear: both;
  }

  .button--DOWNLOAD{
    @extend %buttons--ALTERNATE;
  }

}

.downloads--WINDOWS{
  .downloads--header{
    &:before{
      content: "\e604";
    }
  }
}


.downloads--LINUX{
  .downloads--header{
    &:before{
      content: "\e601";
    }
  }
}

.downloads--subheader{
  @extend %downloads--subheader;
}


.downloads--dropdown-header{
  @extend %downloads--dropdown-header;
}

.downloads--text{
  @extend %downloads--text;
}

.downloads--instructions{
  @extend %downloads--instructions;
}
