@import "navigation/extends";
@import "navigation/variables";
@import "navigation/mixins";


.navigation--MAIN{
  @extend %navigation--MAIN;

  .navigation--links-list{
    @extend %navigation--links-list;
  }

  .navigation--links-list:hover > li:hover{
    opacity: 1.0;
  }

  .navigation--links-list:hover > li{
    opacity: 0.4;
    @include transition( opacity, 500ms);
  }

  .navigation--links{
    @extend %navigation--links;
  }
}



#navigation--MOBILE{
  @extend %navigation--MOBILE;

  .navigation--links-list{
    @extend %navigation--links-list-MOBILE;
  }

  .navigation--links{
    @extend %navigation--links-MOBILE;
  }

}


.navigation--mobile-open{
  @extend %navigation--mobile;
}

.navigation--mobile-close{
  @extend %navigation--mobile;
  display: none;
}