@import "navigation/extends";
@import "navigation/variables";
@import "navigation/mixins";


.navigation--MAIN{
  @extend %navigation--MAIN;

  .navigation--links-list{
    @extend %navigation--links-list;
  }

  .navigation--links{
    @extend %navigation--links;
  }

  #navigation--mobile-button{
    @extend %navigation--mobile-button;
  }
}



#navigation--MOBILE{
  @extend %navigation--MOBILE;

  .navigation--links-list{
    @extend %navigation--links-list-MOBILE;
  }

  .navigation--links{
    @extend %navigation--links-MOBILE;
  }

}