@import "packages/extends";
@import "packages/variables";
@import "packages/mixins";


.packages--MAIN{
  @extend %packages--MAIN;
}

.packages--header{
  @extend %packages--header;
}


.packages--header-table-row{
  @extend %packages--header-table-row;
  .packages--package-table-column{
    color: $white;
  }
  .packages--version-table-column{
    color: $white;
  }
  .packages--date-table-column{
    color: $white;
  }
}

.packages--table-row{
  @extend %packages--table-row;
}

.packages--package-table-column{
  @extend %packages--package-table-column;
}

.packages--version-table-column{
  @extend %packages--version-table-column;
}

.packages--date-table-column{
  @extend %packages--date-table-column;
}

.packages--table{
  @extend %packages--table;
}