%footer--MAIN{
  display: inline-block;
  width: 86%;
  margin-top: 6em;
  position:relative;
  background-color: $dark-purple;
  padding: 0 7%;
}

%footer--content{
  width: 23%;
  float: left;
  margin: 1.75em 0 4em 0;
  padding: 0 1%;
}

%footer--content-header{
  @extend %p;
  font-size: 1.25em;
  color: $white;
  font-weight: bold;
  margin-bottom: 0.5em;
}

%footer--content-list-link{
  @extend %p;
  color: $white;
  line-height: 110%;
  margin-bottom: 0.4em;
  & a{
    text-decoration: none;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    &:hover{
      color: $white;
      font-style: italic;
    }
  }
}