%downloads--header{
  @extend %h2;
  font-size: 1.75rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75em;
  &:before{
    color: $dark-purple;
    font-family: 'Haskell_icon';
    font-size: 2rem;
    display: inline-block;
    padding-right: 0.75rem;
  }
}

%downloads--section{
  width: 86%;
  margin: 0 auto;
  @include breakpoint($breakpoint--second-layout){
    width: 50%;
  }
}


%buttons--MAC{
  width: 49.2%;
  margin-bottom: 1em;
  float:left;
  &:first-of-type{
    margin-right: 1%;
  }
}

%buttons--ALTERNATE{
  width: 80%;
  margin-bottom: 1em;
}

%downloads--subheader{
  @extend %p;
  clear: both;
  float:left;
  width: 100%;
  margin: 0 auto;
  line-height: 140%;
  font-weight: bold;
}

%downloads--text{
  @extend %p;
  clear: both;
  float:left;
  width: 100%;
  margin: 0 auto 1em;
  &:first-of-type{
    margin: 0 auto 0.5em;
  }
}

%downloads--instructions{
  margin: 0.4em 0 2em 0;
  display: inline-block;
  li {
    @extend %p;
  }
}

