%downloads--header{
  @extend %h2;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75em;
  &:before{
    color: black;
    font-family: 'Haskell_icon';
    content: "\e602";
    font-size: 3.25em;
    display: inline-block;
  }
}

%downloads--MAC{
  width: 50%;
  padding: 0 25%;
}


%buttons--MAC{
  width: 49.2%;
  margin-bottom: 1em;
  display:inline-block;
  &:first-of-type{
    margin-right: 1%;
  }
}

%downloads--subheader{
  @extend %p;
  clear: both;
  float:left;
  width: 100%;
  margin: 0 auto;
  line-height: 140%;
  font-weight: bold;
}

%downloads--text{
  @extend %p;
  clear: both;
  float:left;
  width: 100%;
  margin: 0 auto 1em;
  &:first-of-type{
    margin: 0 auto 0.5em;
  }
}

%downloads--instructions{
  margin: 0.4em 0 2em 0;
  display: inline-block;
  li {
    @extend %p;
  }
}